<mat-card class="example-card">
    <img mat-card-image src="assets/img/iconos/8.png">
    <div style="margin-top: 10px; margin-bottom: 50px; text-align: center">
        <a [routerLink]="['/contacto']" class="btncontacto" >
            <span> CONOCER MÁS </span>
        </a>
    </div>
</mat-card>
<div style="background-color: #F5F5F5">
    
    <div class="inicio-titulo" ngClass.lt-md="inicio-titulo-lt-md">
        <span>ESTAMOS UN PASO MÁS ALLÁ DEL FUTURO</span>
    </div>

    <div class="inicio-subtitulo" ngClass.lt-md="inicio-subtitulo-lt-md" style="margin-bottom: 50px;" >
        <span>CONOCE TODOS NUESTROS SERVICIOS</span>
    </div>

    <div class="inicio-futuro" ngClass.lt-md="inicio-futuro-lt-md"
        fxLayout="row"
        fxLayout.lt-md="column"
        fxLayoutAlign="center"
        fxLayoutGap="50px"
        fxLayoutGap.lt-md="5px">
        <div class="whitebox" fxFlex="33%" fxFlexAlign="center" fxFlex.lt-md="100%">
            <img src="assets\img\iconos\5.png" alt="" height="160" width="140">
            <div class="titulo-item">
                DISEÑO WEB
            </div>
            <div class="cargo-equipo">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. 
                </p>
            </div>
        </div>
        <div class="whitebox" fxFlex="34%" fxFlexAlign="center" fxFlex.lt-md="100%">
            <img src="assets\img\iconos\6.png" alt="" height="160" width="140">
            <div class="titulo-item">
                MOBILE APPS
            </div>
            <div class="cargo-equipo">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. 
                </p>
            </div>
        </div>
        <div class="whitebox" fxFlex="33%" fxFlexAlign="center" fxFlex.lt-md="100%">
            <img src="assets\img\iconos\7.png" alt="" height="160" width="140">
            <div class="titulo-item">
                DESARROLLO DE SOFTWARE
            </div>
            <div class="cargo-equipo">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. 
                </p>
            </div>
        </div>
    </div>
    
    <br>

    <div class="inicio-futuro" ngClass.lt-md="inicio-futuro-lt-md"
        fxLayout="row"
        fxLayout.lt-md="column"
        fxLayoutAlign="center"
        fxLayoutGap="50px"
        fxLayoutGap.lt-md="5px">
        <div fxFlex="17" fxFlexAlign="center" fxHide.lt-md="true">
            
        </div>
        <div class="whitebox" fxFlex="33%" fxFlexAlign="center" fxFlex.lt-md="100%">
            <img src="assets\img\iconos\5.png" alt="" height="160" width="140">
            <div class="titulo-item">
                CONSULTORÍA DE IT
            </div>
            <div class="cargo-equipo">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. 
                </p>
            </div>
        </div>
        <div class="whitebox" fxFlex="33%" fxFlexAlign="center" fxFlex.lt-md="100%">
            <img src="assets\img\iconos\6.png" alt="" height="160" width="140">
            <div class="titulo-item">
                SOPORTE TÉCNICO
            </div>
            <div class="cargo-equipo">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. 
                </p>
            </div>
        </div>
        <div fxFlex="17%" fxFlexAlign="center"  fxHide.lt-md="true">
            
        </div>
    </div>
</div>

<br><br>

<div class="innovar">
    <div fxHide.lt-md="true" class="img-background-innovar">
        <img src="assets\img\iconos\2.png" alt="" width="95%">
    </div>
    <div class="innovar-items" ngClass.lt-md="innovar-items-lt-md" 
        fxLayout="row"
        fxLayout.lt-md="column"
        fxLayoutAlign="center"
        fxLayoutGap="30px"
        fxLayoutGap.lt-md="5px">
        
        <div fxHide.lt-md="true" fxFlex="50%" fxFlexAlign="bottom" fxFlex.lt-md="100%">
            <img src="assets\img\iconos\1.png" alt="" height="487" width="100%">
        </div>
        <div class="" fxFlex="50%" fxFlexAlign="center" fxFlex.lt-md="100%">
            <div class="inicio-titulo" ngClass.lt-md="inicio-titulo-lt-md" style="text-align: left;">
                <span>SE TRATA DE INNOVAR EN TU NEGOCIO.</span>
            </div>
            <div class="inicio-subtitulo" ngClass.lt-md="inicio-subtitulo-lt-md">
                SISTEMA POS
            </div>
            <div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </p>
            </div>
            <div style="margin-top: 75px; margin-bottom: 50px; text-align: right">
                <a [routerLink]="['/contacto']" class="btncontacto" >
                    <span> CONOCER MÁS </span>
                </a>
            </div>
        </div>
    </div>
</div>

<br>

<div class="container"  
    fxLayout="row"
    fxLayout.lt-md="column"
    fxLayoutAlign="center"
    fxLayoutGap="50px"
    fxLayoutGap.lt-md="15px">
    <div class="contactanos" fxFlex fxFlexAlign="center">
        
    </div>
    <div class="contactanos" fxFlex fxFlexAlign="center">
        <hr>
    </div>
    <div class="contactanos" fxFlex fxFlexAlign="center">
        CONTÁCTANOS
    </div>
    <div class="contactanos" fxFlex fxFlexAlign="center">
        <hr>
    </div>
    <div class="contactanos" fxFlex fxFlexAlign="center">
        
    </div>
    
</div>

<div class="contacto">
    <div fxHide.lt-md="true" class="img-background-contacto">
        <img src="assets\img\iconos\4.png" alt="" width="100%">
    </div>
    <div class="form-contacto" 
        fxLayout="row"
        fxLayout.lt-md="column"
        fxLayoutAlign="center"
        fxLayoutGap="50px"
        fxLayoutGap.lt-md="15px">

        <div fxFlex="10%" fxFlexAlign="bottom" fxFlex.lt-md="100%"></div>
        
        <div fxHide.lt-md="true"  fxFlex="30%" fxFlexAlign="center bottom" fxFlex.lt-md="100%">
            <img src="assets\img\iconos\3.png" alt="" height="360px" width="80%">
        </div>
        <div  fxFlex="60%" fxFlexAlign="start" fxFlex.lt-md="100%">
            <div fxLayout="column">
                <mat-label>
                    <span class="label-contactanos">Rellena los campos, escríbenos tu solicitud y a la brevedad</span>
                </mat-label>
                <mat-label>
                    <span class="label-contactanos"> nuestro equipo te contactará para atenderte</span>
                </mat-label>
            </div>
            <form >
                <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="15px">
                    <div fxFlex="50%" fxFlex.lt-md="100%">
                        <mat-form-field>
                            <input matInput placeholder="Nombre"  autocomplete="off">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Email"  autocomplete="off">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Teléfono"  autocomplete="off">
                        </mat-form-field>
                    </div>
                    <div fxFlex="50%" fxFlex.lt-md="100%">
                        <mat-form-field>
                            <textarea matInput placeholder="Escriba su mensaje Aquí" rows="9"></textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-container">
                    <mat-label>
                        <span class="label-contactanos">También puedes contactarnos por nuestros teléfonos</span>
                    </mat-label>
                    <mat-label>
                        <i class="material-icons"> phone </i>
                        <span class="telefono">+507 6472-9648</span>
                    </mat-label>
                    <mat-label>
                        <span class="label-contactanos">info@starsoftwaregroup.com</span>
                    </mat-label>
                </div>
                <div style="margin-top: 25px; margin-bottom: 50px; ">
                    <a [routerLink]="['/contacto']" class="btncontacto" >
                        <span class="btn-enviar"> ENVIAR </span>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
<br><br><br>


