<mat-card class="example-card">
    <img mat-card-image src="assets/img/iconos/9.png">
</mat-card>

	<div style="font-family:riftregular;font-size: 70px; text-align: center;">
	    <span>SOBRE NOSOTROS</span>
	</div>

	<div style="font-size: 25px; text-align: center; color: #565656; margin-bottom: 50px;" >
	    <span>CONOCE TODOS NUESTROS SERVICIOS</span>
	</div>
	<div class="container">
		<div fxLayout="row">
			<div fxFlex="10%"></div>
			<div fxFlex="80%">
				<p>
					Somos una empresa dedicada a brindarle a nuestros clientes servicios de alta calidad, eficiencia y rapidez; orientada al desarrollo y producción del diseño corporativo, creación de sitios web y desarrollo de aplicaciones móviles nativas a través de las más novedosas herramientas digitales de la actualidad.
				</p>
			</div>
			<div fxFlex="10%"></div>
		</div>
	</div>

	<br><br>

	<div class="container">
		<div fxLayout = "row" fxLayout.lt-md="column" >
			<div fxFlex="50%" fxFlexOffset="150px" fxFlexOffset.lt-md="10px" >
				<div style="font-family:riftregular;font-size: 40px; text-align: center;">
					<span>NUESTRA VISION</span>
				</div>
				<p>
					Ser la compañía líder en el proceso de integración corporativa, mediante aplicaciones tecnológicas en Latinoamérica.
				</p>
				
				<br><br><br><br>

				<div style="font-family:riftregular;font-size: 40px; text-align: center;">
					<span>NUESTRA MISION</span>
				</div>
				<p>
					Crear confianza con el uso de nuestras tecnologías en nuestros clientes de una forma proactiva y eficiente.
				</p>

				<br><br><br><br>

				<div style="font-family:riftregular;font-size: 40px; text-align: center;">
					<span>NUESTROS VALORES</span>
				</div>
				<p>
					Responsabilidad, ética, honestidad, transparencia, transformación e innovación.
				</p>
			</div>

			<div fxFlex="40%" fxFlexOffset="150px" fxFlexOffset.lt-md="10px" >
					<br><br><br>
					<div style="font-family:riftregular;font-size: 40px; text-align: center;">
						<span>NUESTRA PROPUESTA DE VALOR</span>
					</div>
					<p>
						ser proveedores de software creando una red de interés que contenga versatilidad, conectividad y diversidad gestionado de manera digital donde todas las personas puedan estar en sintonía y suplir sus necesidades.
					</p>

					<br><br><br>

					<div style="font-family:riftregular;font-size: 40px; text-align: center;">
						<span>NUESTRAS CARACTERÍSTICAS</span>
					</div>
					<p>
						Conocimiento y experiencia en el mercado. Equipo multidisciplinario. Innovación tecnológica en el desarrollo de las personas. La ética es nuestro principal valor. Dinamismo y energía.
					</p>
			</div>
			<div fxFlex="10%"></div>
		</div>
		
		
	</div>
	
	<br><br><br>

	<div class="container" style="background-color: #DBDBDB">
		<div style="font-family:riftregular;font-size: 40px; text-align: center;">
			<span>NUESTRO EQUIPO</span>
		</div>
		<div style="font-size: 25px; text-align: center; color: #565656; margin-bottom: 50px;" >
		    <span>CONOCE TODOS NUESTROS SERVICIOS</span>
		</div>

		<div class="container" style="margin: 0px 100px;"
		    fxLayout
		    fxLayout.sm="column"
		    fxLayoutAlign="center"
		    fxLayoutGap="50px"
		    fxLayoutGap.xs="0">
			<div class="whitebox" fxFlex="33%" fxFlexAlign="center">
				<img src="assets\img\avatars\avatar-3.png" alt="" height="160" width="140">
				<div class="titulo-equipo">
					NOMBRE COMPLETO
				</div>
				<div class="cargo-equipo">
					CARGO EN LA EMPRESA
				</div>
				<div fxLayout fxLayoutAlign="center" fxLayoutGap="10px"  >
					<button mat-mini-fab style="background-color: #414373"> </button>
					<button mat-mini-fab style="background-color: #414373"> </button>
					<button mat-mini-fab style="background-color: #414373"> </button>
					<button mat-mini-fab style="background-color: #414373"> </button>
					<button mat-mini-fab style="background-color: #414373"> </button>
				</div>
			</div>
			<div class="whitebox" fxFlex="33%" fxFlexAlign="center">
				<img src="assets\img\avatars\avatar-4.png" alt="" height="160" width="140">
				<div class="titulo-equipo">
					NOMBRE COMPLETO
				</div>
				<div class="cargo-equipo">
					CARGO EN LA EMPRESA
				</div>
				<div fxLayout fxLayoutAlign="center" fxLayoutGap="10px"  >
					<button mat-mini-fab style="background-color: #414373"> </button>
					<button mat-mini-fab style="background-color: #414373"> </button>
					<button mat-mini-fab style="background-color: #414373"> </button>
					<button mat-mini-fab style="background-color: #414373"> </button>
					<button mat-mini-fab style="background-color: #414373"> </button>
				</div>
			</div>
			<div class="whitebox" fxFlex="33%" fxFlexAlign="center">
				<img src="assets\img\avatars\avatar-10.png" alt="" height="160" width="140">
				<div class="titulo-equipo">
					NOMBRE COMPLETO
				</div>
				<div class="cargo-equipo">
					CARGO EN LA EMPRESA
				</div>
				<div fxLayout fxLayoutAlign="center" fxLayoutGap="10px"  >
					<button mat-mini-fab style="background-color: #414373"> </button>
					<button mat-mini-fab style="background-color: #414373"> </button>
					<button mat-mini-fab style="background-color: #414373"> </button>
					<button mat-mini-fab style="background-color: #414373"> </button>
					<button mat-mini-fab style="background-color: #414373"> </button>
				</div>
			</div>
		</div>
		<br><br><br>
		<div class="text-center" style="margin-top: 50px; margin-bottom: 50px;">
		    <a [routerLink]="['/contacto']" class="btncontacto" >
		        <span> CONTÁCTANOS </span>
		    </a>
		</div>
		<br><br><br>
	</div>

<br><br><br>
