<mat-card class="example-card">
    <img mat-card-image src="assets/img/iconos/18.png">
</mat-card>
<div style="font-family:riftregular;font-size: 70px; text-align: center;">
    <span>LA MÁXIMA TECNOLOGÍA PARA TU EMPRESA</span>
</div>

<div style="font-size: 35px; text-align: center; color: #4071B6;">
    <span>SISTEMAS POS</span>
</div>
<br>
<div style="font-size: 25px; text-align: center; color: #565656; margin-bottom: 130px;" >
    <span>Sistema completo de administración y factura para su empresa</span>
</div>
<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div class="" fxFlex="25%">
        <div class="text-center power-titulos" >
            FACTURA
        </div>
        <div class="text-center">
            <img src="assets/img/iconos/11.png" class="img-thumbnail img-responsive">
        </div>
    </div>
    <div class="" fxFlex="25%">
        <div class="text-center power-titulos" >
            GASTOS
        </div>
        <div class="text-center">
            <img src="assets/img/iconos/12.png" class="img-thumbnail img-responsive">
        </div>
    </div>
    <div class="" fxFlex="25%">
        <div class="text-center power-titulos" >
            INVENTARIOS
        </div>
        <div class="text-center">
            <img src="assets/img/iconos/13.png" class="img-thumbnail img-responsive">
        </div>
    </div>
    <div class="" fxFlex>
        <div class="text-center power-titulos" >
            CONTACTOS
        </div>
        <div class="text-center">
            <img src="assets/img/iconos/14.png" class="img-thumbnail img-responsive ">
        </div>
    </div>
</div>

<div class="power-separador"></div>

<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div class="" fxFlex="33%">
        <div class="text-center power-titulos" >
            INVENTARIOS
        </div>
        <div class="text-center">
            <img src="assets/img/iconos/15.png" class="img-thumbnail img-responsive">
        </div>
    </div>
    <div class="" fxFlex="34%">
        <div class="text-center power-titulos" >
            API
        </div>
        <div class="text-center">
            <img src="assets/img/iconos/16.png" class="img-thumbnail img-responsive">
        </div>
    </div>
    <div class="" fxFlex="33%">
        <div class="text-center power-titulos" >
            POS
        </div>
        <div class="text-center">
            <img src="assets/img/iconos/17.png" class="img-thumbnail img-responsive">
        </div>
    </div>
</div>

<div class="text-center" style="margin-top: 50px; margin-bottom: 50px;">
     <a [routerLink]="['/contacto']" class="btncontacto" >
        <span> CONTÁCTANOS </span>
     </a>
</div>

<br><br><br>
 

